*.pyc
MANIFEST
MANIFEST.in
build/*
dist/*
Python/TESTED--SSmethod1/OUTPUT/*
Python/TESTED--SSmethod2/OUTPUT/*
*.aux
*.asv
*.fdb_latexmk
*.nav
*.out
*.snm
*.gz
*.toc
*.pdfsync
*.blg
*.bbl
*.bib.bak
*.log
*.fls
*.m~
*.sublime*
.DS_Store
