*.pyc
MANIFEST
build/*
dist/*
*.cache/
.coverage
.coveragerc
htmlcov/*
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pdfsync
*.synctex.gz
*.toc
*.swp
*.asv
*.nav
*.snm
*.gz
*.bib.bak
*.fls
*.m~
*.sublime*
.DS_Store
*puf.csv
*/OUTPUT/*
envs/
*.egg-info/
*dask-worker-space*
*.ipynb_checkpoints*
*/__pycache__/*
*regression_results*
docs/book/_build/*
docs/build/*
*micro_data_*.pkl
run_examples/run_example_plots/*
run_examples/OUTPUT_BASELINE/*
run_examples/OUTPUT_REFORM/*
run_examples/ogcore_example_output.csv
ogcore/tests/test_io_data/tax_func_loop_inputs_large.pkl
ogcore/tests/baseline/*
ogcore/tests/reform/*
ogcore/tests/OUTPUT/*
ogcore/tests/OUTPUT_BASELINE/*
ogcore/tests/OUTPUT_REFORM/*
regression/OUTPUT_BASELINE/*
regression/OUTPUT_REFORM*
.vscode/
*default.profraw
*un_api_token.txt
