include ogcore/data/ability/*
include ogcore/data/demographic/*
include ogcore/data/labor/*
include ogcore/data/tax_functions/*
include ogcore/default_parameters.json
include ogcore/ogcoreplots.mplstyle
